*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    position: relative;
}

/*CARD BENEFICIOS*/

/*Cointainer-card*/
.beneficios {
    max-width: 1400px;
    padding: 20px;
}

.gridtop-beneficios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;

}

.gridbottom-beneficios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;

}

.beneficios__card {
    width: 350px;
    position: relative;
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;
}

.beneficios__card:hover .beneficios__texto {
    margin-top: -15px;
}

.beneficios__h3 {
    width: 100%;
    height: 200px;
    background-color: grey;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 15px;
}

.beneficios__h3 h3 {
    padding: 15px;
}

.circulo {
    width: 80px;
    height: 80px;
    background-color: #00599E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
}

.circulo img {
    height: 45px;;
}

.beneficios__texto {
    width: 100%;
    height: 200px;
    color: aqua;
    background-color: blue;
    padding: 20px;
    margin-top: -200px;
    transition: all 300ms;
    border-radius: 15px;
    
}

.beneficios__texto p {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
}

/*Fin de CARD BENEF*/


/*FOOTER*/

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 80px;
    margin-bottom: 1rem;
}

.socialmedia, .menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.icono {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(/images/facebook.png);
    background-color: #f2f2f2;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1 rem;
}

.icon:hover {
    background-color: #121212;
    filter: invert(1);
}

.icono:nth-of-type(2) {
    background-image: url(/images/instagram.png);
}

.icono:nth-of-type(3) {
    background-image: url(/images/twitter.png);
}

.icono:nth-of-type(4) {
    background-image: url(/images/youtube.png);
}

.menu-footer {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.item-footer {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.item-footer:hover {
    opacity: 1;
}

.copyright {
    color: #f2f2f2;
    opacity: 0.5;
    text-align: center;
}